<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/" style="border-bottom: none">Naveen Karunanayake</a></h1>
            <p style="font-style: unset"> Doctoral Student <br>  at University of Sydney </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/cv">Experience</a></li>
                <li><a href="../images/CV_NaveenKarunanayake.pdf">CV</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li style="padding-bottom: 10px"><a href="{{ site.googlescholar }}"><i class="ai ai-google-scholar-square ai-fw"></i> Google Scholar</a></li>
                <li style="padding-bottom: 10px"><a href="https://github.com/{{ site.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
                <li><a href="mailto:{{ site.email }}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
            </ul>
        </footer>
    </section>

